/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
background-color: white;
   
}

h1,h2,h3,h4,h5,h6{
/* color:black;*/
 font-family: 'Raleway', sans-serif;
}
p,li{
/*color:#73AF59;*/
font-family: 'Josefin Sans', sans-serif;
font-size : 21px;

}

#bannerpic{
height:auto;
width:auto;
}

/* Personal Section */
#index-banner{
   /* background-color: #ffffff;*/
    border-bottom: 2px solid black;
}

/*#personal{
/*background-color:	#ffffff;

}*/
#personal h1{
text-align: center;
font-size: 30px;
}
#personal h2{
margin-left: 50px;

}
#personal h5{
margin-left: 75px;

}
#pic {
width:70%;
height:20%;
margin-left: 20px;
 padding:1px;
border:1px solid #021a40;
border-radius: 20px;
}
#extra{
    text-align: center;
    padding: 20%;

}
.sprofile  {
margin: 0 auto;


}
/*#sprofile p {
margin-left: 60px;
}*/
.spicon{
width:25px;
}
#personaldetails{
  float:right;
  width:70%;
  padding: 50px;
 
}
.pinfo{
text-align: center;
padding:10px;
margin : 50px 10px 30px 10px;
/*font-size: 20px;*/
font-weight: bolder;
}
/*    End of personal Section */



/*    Experience Section */
#Experience{
/*background-color:	#ffffff;*/
  border-bottom: 2px solid black;
}
.sectiontitle{
  text-align:center;

}

#spworkLogo{
  width:90%;
  height:auto;
}

#dncworkLogo{
  width:85%;
  height:30%;
}

#mlccworkLogo{
  width:75%;

}



.section > h3{
  text-align:center;
/* margin-left: 350px;*/
}


/* End of Experience Section */

/*About ME*/

#Experience{
/*background-color:	#ffffff;*/
  border-bottom: 2px solid black;
}


.one-third > ul {
  list-style: none;
  margin-left: auto;

}


container .row {
    /* margin-left: -0.75rem; */
   margin-right: -0.75rem;
}

#Portfolio{
/*background-color:	#ffffff;*/
  border-bottom: 2px solid black;
}


#my-slider{
  width:800px;
  height:400px;
/*  position: relative;*/
  margin-left:300px;
}




/* Sell your self section > hobbies & interest grid */
.clear {
  clear: both;
}


#AboutMe{
/*background-color:	#ffffff;*/
  border-bottom: 2px solid black;
}




#grid {
  width: 80%;

}

.grid-element {
  width: auto;
  height: auto;
  padding:1% 0;
  float: left;
  margin-left: 20px;
}
.about-me{
	width:50%;
	height:50%;
}

.one-third{
	float:left;
	width: 29%;
	padding: 1%;
	margin: 0 1%;
}

/*    End of about me Section */


/*    Portfolio */

.gallery{
    display: flex;
    flex-direction: row;
}

.thumbnail{
    flex:0 0 300px;
    height: 100px;
    border: solid gray 2px;
    margin-left:10px;
   /* width:700px;*/
    height:300px;
}

.portfoliopicture{
 height:260px;
 width:85%;
 margin: 0px auto;
}

.col{
  text-align: center;
}
/*#rps{
width:300px;
height:150px;

}*/
/*    End Of Portfolio */


/* footer*/
footer {
  /*margin-top: 20px;8*/
  padding-top: 20px;
  background-color: #7A0A1F;
  height: 100%;
}

orange {
  
     background-color: #7A0A1F;
}

/*End of footer*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}



nav {
    color: whitesmoke;
 
     background: url("http://s.storage.akamai.coub.com/get/b36/p/coub/simple/cw_timeline_pic/2e08a5832b5/9b760146090fb579aa6d2/big_1407406324_image.jpg");
}

nav ul a {

  color: white;
 font-weight: bold;
 font-size: 20px;
}



/* RESPONSIVE DESIGN -- TABLET*/

@media only screen and (max-width: 768px){


/*Personal*/
#personal h2{
       margin-left: 13px;

}
#personal h5{
           margin-left: 120px;

}

#sprofile p {
    margin-left: 20px;
}

.pinfo{
  text-align: center;
  font-size:96%;
  font-weight:100%;
  
}


/*Experience*/
.section > h3{

    margin-left: 200px;
   
}
#spworkLogo{
   width:90%;
   height:45%;
}

#dncworkLogo{
   width:85%;
   height:30%;
}


#mlccworkLogo{
    margin-left: 15px;
}

/*About ME*/
.aboutmetitle{
	font-size:20px;
  margin:20px;
}


#grid {
  width: auto;
/*  margin-left: 25px;*/
}

.grid-element {
  width: 66px;
  height: 66px;
  padding:1% 0;
  float: left;
}

}






/*
/* RESPONSIVE DESIGN -- MOBILE PHONE*/


@media only screen and (max-width: 540px){


.material-icons{
  visibility: hidden;
}

/* personal*/



#Personal{
  width:auto;
  height:100%;
}

#personal h2,h5{
       margin-left: 100px;
    
}

#pic {
    margin-left: 100px;
    width: 50%;
    height: 50%;
}

#sprofile p {
  margin-left: 100px;
  /*font-size:50%;*/
}

.pinfo{
  text-align: center;
  font-size:15px;
  font-weight:100%;
  margin: 10px 10px 10px 10px;
}

#Experience{
 display : none;
}

#AboutMe{
 display : none;
}

}
