/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


h1,h2,h3,h4,h5,h6{
/* color:black;*/
 font-family: 'Raleway', sans-serif;
}
p,li{
/*color:#73AF59;*/
font-family: 'Poiret One', cursive;
font-size : 18px;

}

/* Personal Section */
#personal{
background-color:	#ffffff;
border-bottom: 2px solid black;
}
#personal h1{
text-align: center;
font-size: 30px;
}
#personal h2{
margin-left: 0px;

}
#personal h5{
margin-left: 25px;

}
#pic {
width:20%;
height:20%;
margin-left: 20px;
 padding:1px;
border:1px solid #021a40;
border-radius: 20px;
}
#sprofile  {
display: inline;
}
#sprofile p {
margin-left: 15px;
}
.spicon{
width:25px;
}
#personaldetails{
  float:right;
  width:70%;
  padding: 50px;
 
}
.pinfo{
text-align: center;
/*padding:10px;
*/margin : 0px 10px 30px 10px;
font-size: 17px;
}


#pic {
width:20%;
height:20%;
margin-left: 20px;
 padding:1px;
border:1px solid #021a40;
border-radius: 20px;
}
/*    End of personal Section */



/*    Experience Section */

#Experience{
background-color:	#ffffff;
border-bottom: 2px solid black;
}

#spworkLogo{
width:75%;
height:75%;
}

#dncworkLogo{
width:85%;
height:30%;
}

/*#mlccworkLogo{
width:50%;
height:75%;
}*/

.section > h3{
/*text-align:center;*/
 margin-left: 380px;
}


/* End of Experience Section */

/*About ME*/

#Experience{
background-color:	#ffffff;
border-bottom: 2px solid black;
}


.one-third > ul {
list-style: none;
margin-left: auto;

}


container .row {
    /* margin-left: -0.75rem; */
    margin-right: -0.75rem;
}

/* Sell your self section > Awards and achievement  & Skillset section */

/*.circle > ul {
   list-style-type: none;
   font-size: 15px;
   text-align: center;
}*/


/* Sell your self section > hobbies & interest grid */
.clear {
  clear: both;
}

/*.row .col.s3 {
  width: 25%;
 
  margin-left: auto;
  left: auto;
  right: auto;
}*/





#grid {
  width: auto;
/*  margin-left: 25px;*/
}

.grid-element {
  width: auto;
  height: auto;
  padding:1% 0;
  float: left;
}
.about-me{
	width:50%;
	height:50%;
}

.one-third{
	float:left;
	width: 29%;
	padding: 1%;
	margin: 0 1%;
}

/*    End of about me Section */


/* footer*/
footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #7A0A1F;
}

orange {
  
     background-color: #7A0A1F;
}

/*End of footer*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


nav ul a {

  color: black;

}



/* RESPONSIVE DESIGN -- TABLET*/

@media only screen and (max-width: 768px){


/*Personal*/
#personal h2{
    margin-left: 35px;

}
#personal h5{
    margin-left: 15px;

}

#sprofile p {
    margin-left: -10px;
}

.pinfo{
  text-align: center;
  font-size:96%;
  font-weight:100%;
  
}


/*Experience*/
.section > h3{

    margin-left: 200px;
   
}
#spworkLogo{
   width:90%;
   height:45%;
}

#dncworkLogo{
   width:85%;
   height:30%;
}


#mlccworkLogo{
    margin-left: 15px;
}

/*About ME*/
.aboutmetitle{
	font-size:20px;
}


#grid {
  width: auto;
/*  margin-left: 25px;*/
}

.grid-element {
  width: 66px;
  height: 66px;
  padding:1% 0;
  float: left;
}
/*	nav li a{
		width: 50%;
		font-size: 82%;
	}
	nav li:nth-child(even) a {
		border-right: 1px solid #454545;
	}
	
	nav li:nth-child(3) a {
		border-right: none;
	}
	h2 {
		font-size: 95%;
	}
	p{
		font-size: 88%;
	}*/
}







/* RESPONSIVE DESIGN -- MOBILE PHONE*/


@media only screen and (max-width: 540px){

/* personal*/



#Personal{
  width:auto;
  height:auto;
}

#personal h2,h5{
    display:none;
    
}

#pic {
  display:none;
}

#sprofile p {
  /*margin-left: 25px;*/
  font-size:50%;
}

.spicon{
  width:45px;
}

.pinfo{
  text-align: center;
  font-size:30%;
  font-weight:100%;
  
}


/*Experience*/

#spworkLogo{
  width:60%;
  height:25%;
}

#dncworkLogo{
  width:75%;
  height:25%;
}

#mlccworkLogo{
  width:85%;
  height:65%;
}

.section > table > tbody > tr > td > p{
   font-size:90%;
}


.section > h3{
    font-size: 95%;
}
/*End Of Experience*/

/*About Me Section*/
.aboutmetitle{
    font-size:60%;
}

.about-me{
	width:25%;
	height:25%;
}

#grid {
  width: auto;
 margin-left: 25px;
}


.grid-element {

  
  float: left;
}
}

