/*--Start of body--*/
body{
  background-color: white;
}
h1,h2,h4,h5{
 color:black;
 font-family: 'Noto Sans', sans-serif;
}
p,li{
color:#73AF59;
font-weight: 200;
font-family: 'Slabo 27px', serif;

}
/*--End of Body--*/


/*--Start of Navigation--*/
nav {
	 width: 100%;
	 /*margin: 1% auto;*/
	 overflow: hidden;
	}

nav ul	{
	list-style: none;
	overflow: hidden;
	}
nav li a {
	background-color: #73AF59;
	border-right: 2px solid black;
	color: black;
	display:block;
	float: left;
	font-size: 120%;
	font-weight: 600;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	width: 17%;/*--6 items divide by 100%--*/
	transition: background 0.5s ease;
	}
nav li a:hover, nav li.active a {
	background-color: #DADADA;
	color:  #454545;
	}
nav li:last-child a	{
	border: none;
	}
/*--End of Navigation--*/
/*Personal  */
#Personal{
width:100%;
height:auto;

}
#Personal h1{
text-align: center;
font-size: 30px;
}
#Personal h2,h5{
margin-left:80px;
}
#pic {
width:20%;
height:20%;
margin-left: 20px;
 padding:1px;
border:1px solid #021a40;
border-radius: 20px;
}
#sprofile  {
display: inline;
}
#sprofile > p{
margin-left:15px;

}
article{
  float:right;
  width:70%;
  padding: 50px;
  border:1px solid #021a40;
  border-radius: 10px;
}
.pinfo{
text-align: center;
padding:25px;
font-size: 20px;
}


/*Education-Employment  */
#Experience{
width:100%;
height:100%;

}
.two-in-one > h4{
text-align: center;
}

.two-in-one{
	float:left;
	width: 50%;
  height:100%;
}

.two-in-one > ul {
list-style: none;
margin-left: 165px;
}
.square{
 border:1px solid #021a40;
   border-radius: 2.5%;
   
   list-style-type: none;
}


#Logo{
width:25%;
height:25%;
}
#mlccLogo{
width:20%;
height:20%;
}
#sglogo{
width:20%;
height:20%;
}

#dnc-Logo{
width:20%;
height:20%;
}
/*End ofsection*/


/*Sell your self section*/
#SYS{

width:auto !important;
height:auto;
}

.one-third{
	float:left;
	width: 29%;
  height:auto;
	padding: 1%;
	margin: 0 1%;
background-color: red;  
}

.one-third > h4{
text-align: center;
}

.one-third > ul {
list-style: none;
margin-left: auto;

}
/* Sell your self section > Awards and achievement  & Skillset section */
.circle{
 border:1px solid #021a40;
   border-radius: 70%;
   width:auto;
   list-style-type: none;
}
.circle > ul {
   list-style-type: none;
   font-size: 15px;
   text-align: center;
}


/* Sell your self section > hobbies & interest grid */
.clear {
  clear: both;
}

#grid {
  width: auto;
  margin-left: 50px;
}

.grid-element {
  width: auto;
  height: auto;
  padding:1% 0;
  float: left;
}



#Contact-Me {
	float: left;
	width:100% !important;
  height: 100% !important;
	padding: 10px 0 0 0 ;
	margin: 1% 10;
  background-color: lawngreen;
	
}
label, input{
  margin-left: 30px;

}












