/*Personal  */
#Personal{
width:100%;
background-color:green;
}
header{
margin-left: 450px;
}
#pic {
width:20%;
height:20%;
padding-left: 5px;
}
a  {
padding-left: 18px;
}
article{
  float:right;
  width:70%;
  padding: 50px;
}
.pinfo{
text-align: center;
padding:25px;
}


/*Education-Employment  */
#Experience{
width:100%;
background-color:red;
}



/*#employment {
width:50%;
}
#Education{
width:50%;
}

#firstnav ul {
      float:left;  
      list-style: none;
      margin-left: 50px;
      width:25%;
}

#secondnav ul{
        float:right;      
        list-style: none;
        margin-right: 50px;
        width:25%;
}
/* end  */


#SYS{
background-color:gold;

}

footer {
	float: left;
	width:100%;
	padding: 2%;
	margin: 1% 0;
	background-color: #6b6b6b;
}


.one-third{
	float:left;
	width: 29%;
	padding: 1%;
	margin: 0 1%;
  background-color:gold;
}










